# Keys
*.key
*.pem

# NKI Files
*.ntff
*.neff

# venv
.venv

# python 
__pycache__

# weights
weights/compiled_model_weights/*
weights/uncompiled_model_weights/*
weights/input_weights/*
weights/output_weights/*